/* color */
$color-main: #ff7a00;
$color-white: #ffffff;
$color-gray: #616161;
$color-gary80: rgba(97, 97, 97, 0.8);
$color-secondGray: #d9d9d9;
$color-secondGray30: rgba(217, 217, 217, 0.3);
$color-black: #000000;
