@mixin typo($type) {
  @if $type == 'bodySM' {
    font-family: $font-family;
    font-size: 8px;
    font-weight: $weight-regular;
    line-height: auto;
    letter-spacing: 0;
  } @else if $type == 'bodyRG' {
    font-family: $font-family;
    font-size: 13px;
    font-weight: $weight-regular;
    line-height: auto;
    letter-spacing: 0;
  } @else if $type == 'boldXS' {
    font-family: $font-family;
    font-size: 8px;
    font-weight: $weight-bold;
    line-height: auto;
    letter-spacing: 0;
  } @else if $type == 'boldSM' {
    font-family: $font-family;
    font-size: 13px;
    font-weight: $weight-bold;
    line-height: auto;
    letter-spacing: 0;
  } @else if $type == 'boldRG' {
    font-family: $font-family;
    font-size: 18px;
    font-weight: $weight-bold;
    line-height: auto;
    letter-spacing: 0;
  } @else if $type == 'boldLG' {
    font-family: $font-family;
    font-size: 24px;
    font-weight: $weight-bold;
    line-height: auto;
    letter-spacing: 0;
  }
}

// @mixin button($width, $height) {
//   color: $color-black;
//   width: $width;
//   height: $height;
//   background: linear-gradient(
//     174.6deg,
//     $color-white 4.31%,
//     $color-primaryYellow100 50.01%,
//     $color-primaryYellow200 95.71%
//   );
//   border: 1px solid $color-primaryYellow300;
//   border-radius: 4px;
//   padding: 0px;
// }

// @mixin modal($width, $height) {
//   z-index: 1;
//   position: absolute;
//   padding: 0px;
//   width: $width;
//   height: $height;
//   background-color: $color-white;
//   border-radius: 4px;
//   border: none;
//   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
// }
